<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
  <title>Home</title>
</head>
<body>
<div class="section">
  <div class="d-flex justify-content-center h4">
    <nav class="navbar-expand navbar-light  w-100   d-flex justify-content-around  ">
      <div class=" navbar" id="navbarNavAltMarkup2">
        <div class="navbar-nav py-1 ">
          <li class="nav-item" id="headerhomepage">
            <a class="nav-link active text-light h5">Guten Morgen</a>
          </li>
          <i class="nav-item mx-3 my-2 fa-solid text-light fa-bell"></i>
          <i class="nav-item mx-3 my-2 fa-solid fa-gear text-light" (click)="logOut()"></i>
        </div>
      </div>
    </nav>
  </div>
</div>
<router-outlet></router-outlet>

<div class="section">
  <div class="container">
    <div class="row p-1 ">
      <div class="col px-1">
        <div class="playerShortcut w-100 py-2 bg-dark">
          <div class="start-0 px-2 py-2">
            <a class="h6 text-light " data-bs-toggle="modal"
               data-bs-target="#staticBackdrop">{{playerService.currentSongName}}</a>
          </div>
          <div class="px-3 py-2">
            <i class="px-3 h4 fa-solid text-light h4 fa-heart  "></i>
            <button *ngIf="!isPlaying()" (click)=" songservice.changeButton()"
                    class="bg-dark border-0 h4 mx-1 fix-size">
              <i class="fa-solid fa-play text-light"></i>
            </button>
            <button *ngIf="isPlaying()" (click)=" songservice.changeButton()"
                    class="bg-dark border-0 h4 mx-1 fix-size">
              <i class="fa-solid fa-pause text-light "></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-center h4">
  <nav
    class="footer navbar-expand navbar-light tiles2  w-100 bg-light  d-flex justify-content-around fixed-bottom ">
    <div class=" navbar" id="navbarNavAltMarkup">
      <div class="navbar-nav py-1">
        <a class="nav-link text-dark mx-4" routerLink="home"><i class="fa-solid fa-house"></i></a>
        <a class="nav-link text-dark mx-4" routerLink="player"><i class="fa-solid fa-music"></i></a>
        <a class="nav-link text-dark mx-4" routerLink="search"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a class="nav-link text-dark mx-4" routerLink="profile"><i class="fa-solid fa-user"></i></a>
      </div>
    </div>
  </nav>
</div>


</body>
</html>
