.angularIcons{
  width: 7vh;
  height: 7vh;
  font-size: 7vh;
}

.angularIconsouter{
  width: 3.5vh;
  height: 3.5vh;
  font-size: 3.5vh;
}
.angularIconsmiddle{
  width: 4.5vh;
  height: 4.5vh;
  font-size: 4.5vh;
}

.angularIconsinner{
  width: 7vh;
  height: 7vh;
  font-size: 7vh;
}

.sliderHeight{
  padding-bottom: 19vh;
}
.timerHeight{
  padding-bottom: 17vh;

}
.background-container {
  height: 100vh;
  background-image: linear-gradient(to bottom, transparent, black);
}
